# S06 T01: Tasca mètodes de mostreig


__Enunciats:__  


- Exercici 1
Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

- Exercici 2
Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).  

- Exercici 3
Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.  

__Exercicis:__

Per fer aquests exercicicis he pres el data set 'Teams' que pertany a la base de dades [Professional Hockey Database](https://www.kaggle.com/open-source-sports/professional-hockey-database) de Kaggle. 
He pres com a exemple tant els recursos recomanats com la lectura sobre algoritmes[The 5 Sampling Algorithms every Data Scientist need to know](https://mlwhiz.com/blog/2019/07/30/sampling/?utm_campaign=News&utm_medium=Community&utm_source=DataCamp.com![image.png](attachment:image.png)) així com un altre que he trobat molt interessant per fer el [Reservoir Sampling](https://www.geeksforgeeks.org/reservoir-sampling/![image-2.png](attachment:image-2.png).  

Comencem!

In [1]:
import pandas as pd 
df = pd.read_csv('dades/Teams.csv')
df.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1909,NHA,COB,BKN,NaN,NaN,4,NaN,12,4,...,104,Cobalt Silver Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1909,NHA,HAI,MTL,NaN,NaN,5,NaN,12,4,...,83,Haileybury Hockey Club,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1909,NHA,LES,TBS,NaN,NaN,7,NaN,12,2,...,100,Les Canadiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1909,NHA,MOS,MOS,NaN,NaN,6,NaN,12,3,...,95,Montreal Shamrocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1909,NHA,MOW,MTW,NaN,NaN,1,NaN,12,11,...,41,Montreal Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Random Sampling

Per fer una __Mostra Aleatòria__, ho he fet de dues maneres:  
- Primera: on només cal que definim la mida de la mostra
- Segona: on definim el tant per cent de la població que volem q es representi a la mostra.

In [2]:
#primera opció
random_sample_P = df.sample(100)
random_sample_P.describe()

,year,rank,G,W,L,T,OTL,Pts,SoW,SoL,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
count,100.000000,100.000000,100.000000,100.000000,100.000000,78.000000,31.000000,100.000000,22.000000,22.000000,100.000000,100.000000,90.000000,72.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,1977.850000,3.340000,70.860000,31.690000,29.710000,9.179487,7.419355,72.840000,4.909091,5.636364,217.730000,220.110000,1145.422222,16.805556,60.589744,326.589744,8.243590,60.076923,322.641026,8.653846
std,29.177747,1.677059,19.023654,12.064385,10.174532,5.570664,3.845120,26.760713,3.145807,2.479352,75.164447,69.020403,406.943167,7.790639,18.070163,69.170491,3.714436,16.268661,70.223571,4.419047
min,1911.000000,1.000000,15.000000,4.000000,6.000000,0.000000,1.000000,8.000000,1.000000,2.000000,57.000000,68.000000,236.000000,2.000000,28.000000,178.000000,1.000000,27.000000,206.000000,2.000000
25%,1965.750000,2.000000,70.000000,23.750000,23.000000,5.000000,5.000000,59.500000,2.250000,4.000000,182.250000,183.500000,884.250000,12.000000,48.000000,270.000000,6.000000,49.000000,269.250000,5.250000
50%,1984.000000,3.500000,80.000000,34.000000,30.500000,9.000000,7.000000,78.000000,4.000000,5.000000,228.000000,235.500000,1125.500000,16.000000,56.000000,317.000000,7.000000,57.000000,318.000000,8.000000
75%,2000.250000,5.000000,82.000000,41.250000,37.000000,13.000000,10.000000,92.250000,6.750000,6.750000,264.000000,276.250000,1367.750000,22.000000,71.000000,373.750000,11.000000,73.500000,378.250000,11.750000
max,2011.000000,7.000000,84.000000,51.000000,53.000000,20.000000,16.000000,116.000000,12.000000,11.000000,369.000000,341.000000,2194.000000,38.000000,113.000000,491.000000,20.000000,103.000000,482.000000,21.000000

In [3]:
#segona opció, en aquest cas tindrà un 20%
random_sample_S = df.sample(frac=.2)
random_sample_S.describe()

,year,rank,G,W,L,T,OTL,Pts,SoW,SoL,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
count,304.000000,304.000000,304.000000,304.000000,304.000000,262.000000,69.000000,304.000000,42.000000,42.000000,304.000000,304.000000,274.000000,205.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000
mean,1973.674342,3.180921,68.921053,30.677632,28.559211,9.244275,7.565217,71.039474,4.857143,5.023810,219.197368,218.759868,1158.656934,16.692683,64.552995,338.096774,8.797235,63.248848,335.069124,8.571429
std,29.491665,1.648131,20.627300,12.324063,10.768941,5.281489,3.770935,27.156892,2.943131,2.112542,80.376140,80.358550,475.984662,7.953800,16.652722,71.411722,3.949378,17.679053,73.563904,4.098974
min,1909.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,4.000000,8.000000,2.000000,0.000000,22.000000,164.000000,2.000000,26.000000,149.000000,2.000000
25%,1956.500000,2.000000,70.000000,22.000000,21.000000,6.000000,5.000000,53.750000,3.000000,3.000000,174.000000,176.750000,850.000000,12.000000,52.000000,285.000000,5.000000,51.000000,279.000000,6.000000
50%,1981.000000,3.000000,80.000000,33.000000,29.000000,10.000000,7.000000,76.500000,4.000000,5.000000,235.500000,233.000000,1119.000000,16.000000,65.000000,341.000000,8.000000,61.000000,331.000000,8.000000
75%,1997.000000,4.000000,82.000000,41.000000,36.250000,13.000000,10.000000,91.250000,6.000000,6.000000,277.000000,276.000000,1476.250000,22.000000,75.000000,378.000000,11.000000,74.000000,389.000000,11.000000
max,2011.000000,10.000000,84.000000,60.000000,53.000000,23.000000,16.000000,132.000000,15.000000,10.000000,426.000000,385.000000,2621.000000,42.000000,113.000000,526.000000,22.000000,116.000000,550.000000,27.000000

## Mostra Sistemàtica  
En una __Mostra Sistemàtica__ prenem les dades d'una seguint una lògica predefinida, en aquest cas prenem un element de cada 5. Abans d'aplicar aquest mètode, hem d'assegurar-nos que les dades no estiguin agrupades d'alguna manera que ens pugui influir en el resultat.

In [4]:
sys_sample_df = df.iloc[::5]
sys_sample_df.describe()

,year,rank,G,W,L,T,OTL,Pts,SoW,SoL,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
count,304.000000,304.000000,304.000000,304.000000,304.000000,262.000000,71.000000,304.000000,42.000000,42.000000,304.000000,304.000000,283.000000,204.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000
mean,1974.427632,3.322368,69.157895,30.121711,29.769737,8.694656,7.591549,69.509868,5.619048,5.595238,216.194079,220.687500,1137.621908,15.803922,61.313636,331.795455,8.909091,62.781818,330.318182,8.995455
std,28.815700,1.696831,20.000200,12.106581,11.424870,4.899594,3.845507,26.292965,2.775787,2.430091,79.176320,80.315576,511.196769,7.449057,16.301576,68.495168,4.183126,16.489588,69.480582,4.886378
min,1909.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,4.000000,8.000000,2.000000,0.000000,22.000000,107.000000,1.000000,27.000000,130.000000,1.000000
25%,1956.750000,2.000000,70.000000,21.000000,23.000000,6.000000,5.000000,53.000000,4.000000,4.000000,173.750000,175.750000,810.500000,10.000000,50.750000,286.000000,6.000000,50.000000,278.750000,6.000000
50%,1981.000000,3.000000,80.000000,31.000000,29.500000,9.000000,7.000000,73.000000,6.000000,5.500000,224.500000,233.000000,1113.000000,16.000000,60.000000,327.500000,8.000000,62.000000,334.500000,8.000000
75%,1998.000000,4.000000,82.000000,39.000000,38.000000,12.000000,11.000000,90.000000,7.000000,7.000000,273.750000,275.250000,1454.000000,20.000000,71.000000,385.000000,11.000000,72.250000,382.000000,12.000000
max,2011.000000,10.000000,84.000000,60.000000,60.000000,23.000000,18.000000,132.000000,15.000000,11.000000,446.000000,403.000000,2643.000000,40.000000,105.000000,527.000000,22.000000,115.000000,533.000000,36.000000

## Mostra Estratificada  
En aquest tipus de mostreig, dividim la població en subgrups rellevants pel nostre estudi i d'aquest en selecionem una porció d'individus.
Ho he fet de

In [5]:

from sklearn.model_selection import train_test_split
df_startSample, df_drop_it = train_test_split(df, train_size =0.2, stratify=df['lgID'])
df_startSample.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
1476,2010,NHL,NJD,NJD,EC,AT,4,NaN,82,38,...,209,New Jersey Devils,765.0,18.0,34.0,237.0,8.0,40.0,241.0,3.0
1491,2011,NHL,BUF,BUF,EC,NE,3,NaN,82,39,...,230,Buffalo Sabres,904.0,18.0,44.0,258.0,7.0,47.0,257.0,5.0
330,1949,NHL,CHI,CHI,NaN,NaN,6,NaN,70,22,...,244,Chicago Black Hawks,620.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083,1996,NHL,BOS,BOS,EC,NE,6,NaN,82,26,...,300,Boston Bruins,1369.0,4.0,46.0,310.0,6.0,56.0,308.0,15.0
27,1912,PCHA,VML,VMR,NaN,NaN,2,NaN,14,7,...,68,Vancouver Millionaires,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_startSample.describe()

,year,rank,G,W,L,T,OTL,Pts,SoW,SoL,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
count,303.000000,303.000000,303.000000,303.000000,303.000000,266.000000,69.000000,303.000000,37.000000,37.000000,303.000000,303.000000,281.000000,197.000000,213.000000,213.000000,213.000000,213.000000,213.000000,213.000000
mean,1972.874587,3.297030,68.957096,30.336634,29.085809,9.011278,7.130435,70.207921,5.864865,5.864865,213.201320,215.613861,1107.953737,15.817259,61.934272,328.511737,8.868545,62.206573,327.009390,8.727700
std,29.000299,1.682858,19.832614,11.775728,11.789794,4.946875,4.010695,25.608095,2.002251,2.529407,76.341398,82.858010,515.569659,7.672314,16.368556,64.858962,4.142690,17.294196,66.217765,4.273772
min,1910.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,4.000000,8.000000,2.000000,0.000000,28.000000,205.000000,1.000000,26.000000,185.000000,0.000000
25%,1952.000000,2.000000,70.000000,21.000000,21.000000,6.000000,4.000000,52.000000,5.000000,5.000000,169.500000,169.000000,777.000000,10.000000,50.000000,277.000000,6.000000,50.000000,275.000000,6.000000
50%,1979.000000,3.000000,80.000000,31.000000,30.000000,9.000000,6.000000,74.000000,6.000000,6.000000,225.000000,225.000000,1078.000000,14.000000,60.000000,318.000000,8.000000,60.000000,321.000000,8.000000
75%,1997.000000,5.000000,82.000000,39.000000,37.000000,13.000000,10.000000,90.000000,7.000000,7.000000,268.000000,275.500000,1390.000000,20.000000,73.000000,367.000000,12.000000,73.000000,372.000000,11.000000
max,2011.000000,10.000000,84.000000,56.000000,61.000000,23.000000,18.000000,119.000000,10.000000,12.000000,367.000000,407.000000,2713.000000,56.000000,110.000000,500.000000,22.000000,122.000000,510.000000,25.000000

## SMOTE 
Aquest pas ha estat el més complicat per no triar les dades correctes per fer la mostra.

SMOTE és l'acrònim de Synthetic Minority Oversampling Technique, i ens permet crear mostres sintètiques per poder equilibrar la representació dins la mostra de variables poc representades.

Té diferents variants, dependen de si totes les variables son numèriques SMOTE, totes son categòriques SMOTEN o apareixen dades dels dos tipus SMOTENC.

En un principi vaig triar la variable SMOTEN, però em retornava errors estranys, com si hi hagués una fila de dades que no li permetés fer l'operació, finalment vaig decidir factoritzar, netejar les dades i  començar denou i aquí tenim el resultat.

Fent un .head() i un .info(), veig millor de quines dades disposem.
Al primer cop d'ull veiem que tenim molts caps nuls NaN i algunes columnes que contenen objectes, dues coses a solucionar:

In [7]:
df.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1909,NHA,COB,BKN,NaN,NaN,4,NaN,12,4,...,104,Cobalt Silver Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1909,NHA,HAI,MTL,NaN,NaN,5,NaN,12,4,...,83,Haileybury Hockey Club,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1909,NHA,LES,TBS,NaN,NaN,7,NaN,12,2,...,100,Les Canadiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1909,NHA,MOS,MOS,NaN,NaN,6,NaN,12,3,...,95,Montreal Shamrocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1909,NHA,MOW,MTW,NaN,NaN,1,NaN,12,11,...,41,Montreal Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519 entries, 0 to 1518
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        1519 non-null   int64
 1   lgID        1519 non-null   object
 2   tmID        1519 non-null   object
 3   franchID    1519 non-null   object
 4   confID      902 non-null    object
 5   divID       1171 non-null   object
 6   rank        1519 non-null   int64
 7   playoff     936 non-null    object
 8   G           1519 non-null   int64
 9   W           1519 non-null   int64
 10  L           1519 non-null   int64
 11  T           1309 non-null   float64
 12  OTL         358 non-null    float64
 13  Pts         1519 non-null   int64
 14  SoW         210 non-null    float64
 15  SoL         210 non-null    float64
 16  GF          1519 non-null   int64
 17  GA          1519 non-null   int64
 18  name        1519 non-null   object
 19  PIM         1409 non-null   float64
 20  BenchMinor  1028 non-null   float64
 21  PPG         1101 non-null   float64
 22  PPC         1100 non-null   float64
 23  SHA         1101 non-null   float64
 24  PKG         1101 non-null   float64
 25  PKC         1100 non-null   float64
 26  SHF         1101 non-null   float64
dtypes: float64(12), int64(8), object(7)
memory usage: 320.5+ KB

amb el següent codi, eliminaré les columnes que no necessito a més de canviar per 0 els valors nuls.

In [9]:
df= df.fillna(0)
df = df.drop (['confID','divID','franchID','name'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519 entries, 0 to 1518
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        1519 non-null   int64
 1   lgID        1519 non-null   object
 2   tmID        1519 non-null   object
 3   rank        1519 non-null   int64
 4   playoff     1519 non-null   object
 5   G           1519 non-null   int64
 6   W           1519 non-null   int64
 7   L           1519 non-null   int64
 8   T           1519 non-null   float64
 9   OTL         1519 non-null   float64
 10  Pts         1519 non-null   int64
 11  SoW         1519 non-null   float64
 12  SoL         1519 non-null   float64
 13  GF          1519 non-null   int64
 14  GA          1519 non-null   int64
 15  PIM         1519 non-null   float64
 16  BenchMinor  1519 non-null   float64
 17  PPG         1519 non-null   float64
 18  PPC         1519 non-null   float64
 19  SHA         1519 non-null   float64
 20  PKG         1519 non-null   float64
 21  PKC         1519 non-null   float64
 22  SHF         1519 non-null   float64
dtypes: float64(12), int64(8), object(3)
memory usage: 273.1+ KB

Per tal de poder fer servir la columna __playoff__ reviso les dades que conté, i faig les passes necessàries per convertir les seves dades en 0 pels quips que no van accedir al play-off, i 1 pels que sí que ho van fer:

In [10]:
df.playoff.unique()

array([0, 'LCS', 'WCS', 'NHAF', 'SC', 'F', 'NHLF', 'PF', 'ND', 'WSF',
       'WF', 'SCSF', 'SF', 'QF', 'AVSF', 'AVQF', 'AVC', 'AVF', 'PRE',
       'AVPRE', 'DF', 'DSF', 'CF', 'CSF', 'CQF'], dtype=object)

In [11]:
import re

df['playoff'] = df.playoff.replace(regex='\D', value=1)
df.playoff.unique()

array([0, 1], dtype=int64)

per últim, factoritzem els camps que pertanyen a la identificació de la lliga __lgID__ i de l'equip __tmID__:

In [12]:
df['lgID'] = pd.factorize(df['lgID'])[0]
df['tmID'] = pd.factorize(df['tmID'])[0]
df.head()

,year,lgID,tmID,rank,playoff,G,W,L,T,OTL,...,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1909,0,0,4,0,12,4,8,0.0,0.0,...,79,104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1909,0,1,5,0,12,4,8,0.0,0.0,...,77,83,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1909,0,2,7,0,12,2,10,0.0,0.0,...,59,100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1909,0,3,6,0,12,3,8,1.0,0.0,...,52,95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1909,0,4,1,0,12,11,1,0.0,0.0,...,91,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Ara que ja ho tinc tot en valors numèrics, importaré les llibreries necessàries i aplicaré el mètode SMOTE:

In [13]:
import imblearn
from imblearn.over_sampling import SMOTE

In [14]:
smote = SMOTE(sampling_strategy = 'minority')
X_sm, y_sm = smote.fit_resample(df, df['playoff'])

Fent un .value_counts() de la variable original i de la mostra SMOTE comprovem que sen's han generat les mostres sintètiques a la variable minoritària.

In [15]:
df.playoff.value_counts()

1    936
0    583
Name: playoff, dtype: int64

In [16]:
X_sm.playoff.value_counts()

0    936
1    936
Name: playoff, dtype: int64

##  Reservoir Sampling

El __Reservoir Sampling__ ens és útil quan tenim un riu de dades (Stream) de llargada desconeguda i tan gran que només el podem iterar un cop per fer la mostra.  
Aquest algorisme ens permet crear un reservori on guardarem els elements que triem aleatòriament en una primera volta, i després, d'aquests elements reservats, en triarà aleatòriament el número d'entrades que haguem definit prèviament.

Aquesta solució, es basa a l'article abans mencionat de Rahul Agarwal.

In [17]:
import random

# com stream prenem la columna que conté els anys
stream = df['year']
# fent el el reservori de mostres de l'stream
k=50
reservoir = []
for i, element in enumerate(stream):
    if i+1<= k:
        reservoir.append(element)
    else:
        probability = k/(i+1)
        if random.random() < probability:
            # Selecionem aleatoriament un dels elements i treiem un dels elements que ja havia estat seleccionat.
             reservoir[random.choice(range(0,k))] = element

print(reservoir)

[1971, 1924, 1930, 1909, 1970, 1909, 2005, 1921, 1941, 1985, 1978, 2000, 1972, 1930, 2008, 2008, 1992, 1974, 1942, 1977, 1993, 1924, 1932, 1984, 1997, 1912, 1928, 1934, 2007, 1960, 1974, 1996, 1968, 1990, 1969, 1993, 2003, 1988, 1947, 1997, 1976, 1946, 1923, 2010, 1976, 1914, 1992, 2009, 2006, 1981]

Bel Ortega  

Juny 2021