Lliurament tasca 5: Exploració de les dades
Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

Exercici 1 Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [2]:
import pandas as pd
"""
El primer q hem de fer és importar la llibreria de Pandas, q ho farem amb el seu àlies pd, i obrir el document q hem descarregat amb la funció 
pd.read_"extensiodel document"("nom i ubicació del document")
Com es tracta d'un document tant pesat l'he comprimit en gzip i ara, en llegir-ho, haig d'especificar quina compressió he emprat.
He afegit com a parametre la columna index = Unique carrier, per tenir -ho ordenat per companyia

per veure les dades q conté llistaré les primeres columnes amb la funció head()

"""
dades = pd.read_csv("DelayedFlightsComp.csv.gz", compression='gzip', index_col= "UniqueCarrier")
dades.head()

,Unnamed: 0,Unnamed: 0.1,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
UniqueCarrier,,,,,,,,,,,,,,,,,,,,,
WN,0,0,2008,1,3,4,2003.0,1955,2211.0,2225,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
WN,1,1,2008,1,3,4,754.0,735,1002.0,1000,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
WN,2,2,2008,1,3,4,628.0,620,804.0,750,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
WN,3,4,2008,1,3,4,1829.0,1755,1959.0,1925,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
WN,4,5,2008,1,3,4,1940.0,1915,2121.0,2110,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
"""
He afegit i manipulat les columnes necessàries al DataFrame original, així després puc triar només les columnes q més em convinguin.

He convertit les dades en milles i minuts a Km i hores per poder calcular la velocitat mitjana.
Per tal de poder agrupar després el vol per origen i destinació he creat una columna amb aquestes dades i per això he hagut de convertir el numero de vol en str.
"""
dades['fDetails'] = dades['Origin'] + ' '+ dades['Dest']
dades['Distance KM'] = (dades['Distance'] * 1.609)
dades['AirTime h'] = (dades["AirTime"]/60)
dades['MeanSpeed Km/h'] = (dades['Distance KM'] / dades ['AirTime h'])
dades["FlightNum2"] = dades["FlightNum"].astype(str)
dades['FlightDetails']= dades["FlightNum2"] + ' '+ dades['fDetails']

dades_1 = dades[["DepTime","CRSDepTime","ArrTime","CRSArrTime","AirTime","ArrDelay","DepDelay","Distance", 'MeanSpeed Km/h',"FlightNum", "Origin","Dest","FlightDetails"]]


dades_1.head()

,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance,MeanSpeed Km/h,FlightNum,Origin,Dest,FlightDetails
UniqueCarrier,,,,,,,,,,,,,
WN,2003.0,1955,2211.0,2225,116.0,-14.0,8.0,810,674.115517,335,IAD,TPA,335 IAD TPA
WN,754.0,735,1002.0,1000,113.0,2.0,19.0,810,692.012389,3231,IAD,TPA,3231 IAD TPA
WN,628.0,620,804.0,750,76.0,14.0,8.0,515,654.185526,448,IND,BWI,448 IND BWI
WN,1829.0,1755,1959.0,1925,77.0,34.0,34.0,515,645.689610,3920,IND,BWI,3920 IND BWI
WN,1940.0,1915,2121.0,2110,87.0,11.0,25.0,688,763.442759,378,IND,JAX,378 IND JAX

Exercici 2 Fes un informe complet del data set:.
Resumeix estadísticament les columnes d’interès Troba quantes dades faltants hi ha per columna Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...) Taula de les aerolínies amb més endarreriments acumulats Quins són els vols més llargs? I els més endarrerits? Etc.

In [4]:
"""
Amb el metode info() veurem quantes dades tenim finalment i de quin tipus són.
"""

dades_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1936758 entries, WN to DL
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   DepTime         float64
 1   CRSDepTime      int64
 2   ArrTime         float64
 3   CRSArrTime      int64
 4   AirTime         float64
 5   ArrDelay        float64
 6   DepDelay        float64
 7   Distance        int64
 8   MeanSpeed Km/h  float64
 9   FlightNum       int64
 10  Origin          object
 11  Dest            object
 12  FlightDetails   object
dtypes: float64(6), int64(4), object(3)
memory usage: 206.9+ MB

In [5]:
"""
Pel tipus de dades que estem treballant i la baixa incidència de les dades nul.les, crec q serà millor eliminar-les

Com el DataFrame té més d'un mi.lio de regristres i les dades nul.les representa on 0.4% i un 0.01%.
"""
dades_1= dades_1.dropna()

In [6]:
dades_1.isnull().sum()

DepTime           0
CRSDepTime        0
ArrTime           0
CRSArrTime        0
AirTime           0
ArrDelay          0
DepDelay          0
Distance          0
MeanSpeed Km/h    0
FlightNum         0
Origin            0
Dest              0
FlightDetails     0
dtype: int64

In [7]:
"""
Per tal d'afegir una columna amb el resultat de dues condicions he optat per aquesta solució.
He considerat q el vol compta com endarrerit, tot i que es recuperi el temps inicial d'espera durant el vol, ja que ha sortit
amb retard.
"""
def myfunc (ArrDelay, DepDelay ):
    if ArrDelay >0  :
        TotalDelay =  1
    elif DepDelay>0:
        TotalDelay = 1
    else:
        TotalDelay = 0
    return TotalDelay
        
dades_1['TotalDelay'] = dades_1.apply(lambda x: myfunc (x['ArrDelay'], x['DepDelay']), axis=1)
dades_1.head()

,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance,MeanSpeed Km/h,FlightNum,Origin,Dest,FlightDetails,TotalDelay
UniqueCarrier,,,,,,,,,,,,,,
WN,2003.0,1955,2211.0,2225,116.0,-14.0,8.0,810,674.115517,335,IAD,TPA,335 IAD TPA,1
WN,754.0,735,1002.0,1000,113.0,2.0,19.0,810,692.012389,3231,IAD,TPA,3231 IAD TPA,1
WN,628.0,620,804.0,750,76.0,14.0,8.0,515,654.185526,448,IND,BWI,448 IND BWI,1
WN,1829.0,1755,1959.0,1925,77.0,34.0,34.0,515,645.689610,3920,IND,BWI,3920 IND BWI,1
WN,1940.0,1915,2121.0,2110,87.0,11.0,25.0,688,763.442759,378,IND,JAX,378 IND JAX,1

In [8]:
"""
Per últim, afegirem el nom de la companyia q opera el vol.
Per això he baixat el fitxer amb la correspondencia entre el distintiu i el nom complert.

"""
carriers= pd.read_csv('carriers.csv', index_col= "UniqueCarrier")
carriers.head()

                                 Description
UniqueCarrier
02Q                            Titan Airways
04Q                       Tradewind Aviation
05Q                      Comlux Aviation, AG
06Q            Master Top Linhas Aereas Ltd.
07Q                      Flair Airlines Ltd.

In [9]:
dades_2=dades_1.merge(carriers, left_index=True, right_index= True)
dades_2.head()

,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance,MeanSpeed Km/h,FlightNum,Origin,Dest,FlightDetails,TotalDelay,Description
UniqueCarrier,,,,,,,,,,,,,,,
9E,919.0,715,1030.0,835,112.0,115.0,124.0,696,599.927143,2001,ATL,HOU,2001 ATL HOU,1,Pinnacle Airlines Inc.
9E,758.0,715,908.0,835,104.0,33.0,43.0,696,646.075385,2001,ATL,HOU,2001 ATL HOU,1,Pinnacle Airlines Inc.
9E,728.0,715,838.0,835,117.0,3.0,13.0,696,574.289231,2001,ATL,HOU,2001 ATL HOU,1,Pinnacle Airlines Inc.
9E,740.0,715,841.0,835,106.0,6.0,25.0,696,633.885283,2001,ATL,HOU,2001 ATL HOU,1,Pinnacle Airlines Inc.
9E,751.0,715,906.0,835,118.0,31.0,36.0,696,569.422373,2001,ATL,HOU,2001 ATL HOU,1,Pinnacle Airlines Inc.

In [10]:
"""
Les aerolinees amb més endarreriments són
"""
dadesAgrupades = dades_2.groupby(['Description', 'UniqueCarrier'], sort=False)[['ArrDelay']].mean()
dadesAgrupades.sort_index(ascending= False).head(5)

                                                                   ArrDelay
Description                                        UniqueCarrier
United Air Lines Inc.                              UA             47.784399
US Airways Inc. (Merged with America West 9/05.... US             36.445019
Southwest Airlines Co.                             WN             30.087884
Skywest Airlines Inc.                              OO             45.370587
Pinnacle Airlines Inc.                             9E             46.936493

In [11]:
"""
els vols més llargs
"""

dadesVols= dades_1.groupby(['FlightDetails'], sort=False)[['Distance']].max()
dadesVols.sort_values(['Distance'], ascending=False).head(5)

               Distance
FlightDetails
15 EWR HNL         4962
14 HNL EWR         4962
1282 HNL ATL       4502
1560 HNL ATL       4502
1561 ATL HNL       4502

In [12]:
"""
els més endarrerits
"""
VolsEndarrerits = dades_1.groupby(['FlightDetails'], sort=False)[['ArrDelay']].max()
VolsEndarrerits.sort_values(['ArrDelay'],ascending= False).head(5)

               ArrDelay
FlightDetails
808 HNL MSP      2461.0
1699 CLT MSP     2453.0
1107 RSW DTW     1951.0
3538 LIT DFW     1707.0
357 BOS MSP      1655.0

- Exercici 3
Exporta el data set net i amb les noves columnes a Excel.

In [21]:
dades_2.to_csv('dades_2.csv')

He intentat pujar el document a Github, però em dona error pq el csv és massa gran.
He afegit un screenshot perque vegis q s'ha creat correctament.
Finalment ho he comprimit amb gzip.

In [13]:
dades_2.to_csv('dades_2_compress.csv.gz', compression='gzip')

In [ ]:
#per poder-lo tornar a llegir en cas q calgui.
df = pd.read_csv('dades_2_compress.csv.gz', compression='gzip')